@import '~bulma/bulma.sass';

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $dark;
  margin: 0;
}

a:hover,
a:active {
  font-weight: bold;
}

.has-bottom-margin:not(:last-child) {
  margin-bottom: 0.25rem;
}

ul.is-unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.highlight {
  background-color: $yellow;
  color: $dark;
}

.navbar.is-fixed-top {
  box-shadow: 0px 5px 10px 0px $grey-light;
}

.content {
  margin-top: $navbar-height + 1;
}

.index_content--item {
  padding: 0 1rem 0 calc(1rem + 0.75em - 1px);
  line-height: 1.5rem;
}

.placeholder {
  color: $light;
}
video {
  height: 78vh;
}

.tile.is-parent {
  padding-top: 0;
  padding-bottom: 0.4rem;
}
@include mobile {
  .search {
    width: 100%;
  }
  .tile .video {
    padding-bottom: 0;
    & .video--label {
      text-align: center;
    }
  }
  .index.tile {
    padding-top: 0.25rem;
  }
}

@include tablet {
}

@include desktop {
  .layout {
    flex-direction: row-reverse;
  }
}
